<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="topcategorie">
            <h2><span jhiTranslate="kouponaApp.topcategorie.detail.title">Topcategorie</span> {{topcategorie.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kouponaApp.topcategorie.nomTopCategorie">Nom Top Categorie</span></dt>
                <dd>
                    <span>{{topcategorie.nomTopCategorie}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/topcategorie', topcategorie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
