<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ville-heading" jhiTranslate="kouponaApp.ville.home.createOrEditLabel">Create or edit a Ville</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ville.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="ville.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kouponaApp.ville.nomVille" for="field_nomVille">Nom Ville</label>
                    <input type="text" class="form-control" name="nomVille" id="field_nomVille"
                        [(ngModel)]="ville.nomVille" required/>
                    <div [hidden]="!(editForm.controls.nomVille?.dirty && editForm.controls.nomVille?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nomVille?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kouponaApp.ville.pays" for="field_pays">Pays</label>
                    <select class="form-control" id="field_pays" name="pays" [(ngModel)]="ville.pays" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paysOption.id === ville.pays?.id ? ville.pays : paysOption" *ngFor="let paysOption of pays; trackBy: trackPaysById">{{paysOption.nomPays}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
